# temp files
.DS_Store
.user
/src/.idea

# binaries produced during build
/src/CodeTitans.OdysseusClient.sln.DotSettings.user
/src/CodeTitans.OdysseusClient/bin
/src/CodeTitans.OdysseusClient/obj
/src/UnitTests/bin
/src/UnitTests/obj
/src/UnitTests/TestResults

# Private Tokens
gitea.token
github.token


